
footer {
  color: #fff;
  background-color: #262729;
  border-top: 3px solid #bfbfbf;
  border-bottom: 3px solid #161819;
  padding: 2% 0 2.5%;
  margin: 0;
}

footer p {
  font-size: 0.9em;
  text-align: center;
}
