.hero {
  width: 100%;
  min-height: 300px;
  display: block;
  border: 1px solid #ccc;
  position: relative;
  background-size: cover;
  background-image: url(https://static.travelbuddee.com/media/country/4/3005f13582.png);
}

